@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f5f1;
  font-family: "Catamaran", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}